/* TODO - control layout */
/* size inputs - move to modal? */

:root{
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;

  /* color definitions */
  --red : #f44;
  --red-lighter : #f66;
  --red-darker: #d33;

  --green: #bd2;
  --green-lighter: #cf4;
  --green-darker: #9b0;

  --gray: #888;
  --gray-lighter: #aaa;
  --gray-lighter-2: #ccc;
  --gray-darker: #666;


  --white: #fafafa;
  
  --black: #222;
  --black-lighter: #444;
  --black-darker: #000;

  /* app theme colors */
  --primary: var(--red);
  --primary-lighter: var(--red-lighter);
  --primary-darker: var(--red-darker);

  --secondary: var(--green);
  --secondary-lighter: var(--green-lighter);
  --secondary-darker: var(--green-darker);


  /* --secondary: var(--red);
  --secondary-lighter: var(--red-lighter);
  --secondary-darker: var(--red-darker); */

  --neutral: var(--gray);
  --neutral-lighter: var(--gray-lighter);
  --neutral-lighter-2: var(--gray-lighter-2);
  --neutral-darker: var(--gray-darker);





  --canvas-size: 330px;
  --bg-opacity-slider-visibility: hidden;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

/* app container element */
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#p5-container{
  height: fit-content;
  width: fit-content;

  width: var(--canvas-size);
  height: var(--canvas-size);
  
  padding: 0;
  margin: 0;
  display: flex;

  touch-action: none;
  position: relative;
}
.App {

  /* min-height: 100vh; */
  display: grid;

  grid-template-columns: var(--canvas-size);

  grid-template-columns: repeat(3, auto);
  row-gap: 0.5em;
  

  align-items: center;

  font-size: 16px;

  padding: 20px;
  font-family: 'basis33','Courier New', Courier, monospace;
}

#info-button{
  grid-column: 3;
}
#p5-container, .controls, .display-area{
  grid-column: span 3;
}

.App-header{
  font-family: 'extrude','basis33','Courier New', Courier, monospace;
  font-size: 32px;
  color: var(--primary);
}

/* disable highlighting except on text inputs */
.App :not(input[type="text"]){
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.controls{
  display: grid;
  grid-template-columns: auto auto 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

input, button{
  touch-action: none;
}

input[type="text"]{
  touch-action: auto;
}


/* TODO - control layout */

.button-controls{
  display: grid;
  
  --col-gap: 10px;
  --row-gap: 10px;

  grid-template-columns: repeat(3, 1fr);

  /* grid-template-columns: repeat(6, 1fr); */

  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  justify-content: center;
  align-content: center;
  position: relative;
  top: 1em;
}

/* TEST */
.spacer{
  grid-column: span 3;
  display: none;
}

#info-button{
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
  color: var(--neutral-lighter);

  border-radius: 50%;
  border: 2px solid var(--neutral-lighter);
  width: 1em;
  height: 1em;

  font-family: 'basis33','extrude','Courier New', Courier, monospace;
  font-size: 2em;
}

/* button styling */

.button:not(.checkbox):not(#info-button){
  --size: calc(32px + 2*var(--border));
  --radius: 2px;
  --border: 2px;
  --color: var(--primary);
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  border-radius: var(--radius);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--color);
  display: flex;
}

.App .button:active{
  --color: var(--primary-darker)
}

/* slider styling */

.App .slider:active{
  --slider-progress-color: var(--primary-darker);
  --slider-thumb-color: var(--primary-darker);
}

/* file input styling */

.file-input label{
  display: flex;
  flex-direction: column;
}

.file-input input[type='file']{
  display: none;
}

/* radio styling */

.radio{
  display:  flex;
  align-items: center;
}

.radio > .radio-label{
  position: relative;
  left: 4px;
  /* align-self: center; */
}

/* ------------------------ */

input[type="radio"], button{
  appearance: none;
  -webkit-appearance: none;
}

button.checkbox, .radio{

  --color: var(--neutral-lighter);  
  --color-hover: var(--neutral-lighter-2);

  --color-checked: var(--secondary);
  --color-checked-hover: var(--secondary-lighter);

  --darker: #0003;

  --outline: var(--neutral-lighter);


  --border-width: 5px;
  --shadow-width: 4px;
  --border-radius: var(--border-width);

  --width: 32px;
  --height: 32px;

}

button.checkbox, .radio input{

  padding: 0;
  width: calc(var(--width) - 2*var(--shadow-width));
  height: calc(var(--height) - 2*var(--shadow-width));
  background-color: var(--color);  
  border: var(--border-width) solid var(--color);
  border-bottom-color: var(--darker);
  border-right-color: var(--darker);
  box-shadow: 0 0 0 var(--shadow-width) var(--outline);  
  margin: var(--shadow-width);
}

button.checkbox.checked, .radio input:checked{
  --color: var(--color-checked);
  --color-hover: var(--color-checked-hover);

  border-color: transparent;
  border-top-color: var(--darker);
  border-left-color: var(--darker);  
}


.radio+.radio{
  margin-top: calc(-1*var(--shadow-width));
}

.checkbox{
  border-radius: var(--border-radius);
}

.radio input{
  border-radius: 0;
}

:not(.radio-item)+.radio-item > input,
.radio-item:first-child > input{
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.radio-item:last-child input{
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}


.toggle-controls{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* ---------------------------------------*/

.display-area, .display-info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.display-info *{
  padding: 0;
  margin: 0;
  list-style: none;  
}

.display-area .display-tooltip{
  min-height: 4em; 
  flex: 1;
}


.new-emap-size-inputs{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: span 2;
  width: 100%;
  height: min-content;
  align-self: center;
  align-items: center;
  color: var(--primary);
  justify-content: space-between;
}

.new-emap-size-inputs #size-label{
  grid-column: span 3;
  text-align: center;
}

/* "number" input styling - for w and h*/
.number-input{
  box-sizing: border-box;
  width: 30px;
  color: inherit;
  border: 1px solid var(--primary);
  border-radius: 2px;
  outline-color: var(--primary);
}

#undo-button{background-image: url(./images/icons/undo-white.png);}
#redo-button{background-image: url(./images/icons/redo-white.png);}
#reset-view-button{background-image: url(./images/icons/reset-view-white.png);}


#emap-file-input button{background-image: url(./images/icons/file-open-e-white.png);}
#background-file-input button{background-image: url(./images/icons/file-open-b-white.png);}
#new-emap-button{background-image: url(./images/icons/file-new-white.png);}

#download-button{background-image: url(./images/icons/download-white.png);}

#bg-opacity-slider{
  visibility: var(--bg-opacity-slider-visibility);  
  grid-column: span 3;
}

/* hover styling goes here */
@media (hover :hover) and (pointer: fine){  

  button:hover, input[type="radio"]:hover{
    cursor: pointer;
  }

  #root .button:not(.checkbox):hover{
    --color: var(--primary-lighter);
  }

  button.checkbox:hover, input[type="radio"]:hover{
    --color: var(--color-hover);
  }

  #info-modal-content > button:hover{
    background-color: var(--neutral-lighter-2);
  }
}


/* INFO MODAL */

#info-modal{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 10000;
  background-color: #0002;
  --transition-time: 0.1s;
}

#info-modal.hidden{
  transition: opacity var(--transition-time), visibility 0s var(--transition-time);
  opacity: 0;  
  visibility: hidden;

}

#info-modal.visible{  
  transition: opacity var(--transition-time);
  opacity: 1;
  visibility: visible;
}


#info-modal-content{

  --margin: min(4em, 10vw, 10vh);
  min-height: 30vh;
  max-height: calc(100% - 2*var(--margin));
  display: flex;
  position: relative;
  overflow: auto;
  margin: var(--margin);
  padding: 2em;
  background-color: var(--white);
  border-radius: 1em;
  color: var(--black);
  /* flex: 1; */
  box-shadow: 0 2px 5px #0002;
}

/* X button to close the modal */
#info-modal-content > button{
  border: none;
  background: transparent;
  position: absolute;

  right: 1em;
  top: 1em;
  color: var(--black);
  background-color: var(--neutral-lighter);

  color: var(--white);
  border-radius: 50%;
  padding: 0.5em;
  width: 2em;
  height:2em;
}



#info li{
  margin: 1em 0
  /* line-height: 2em; */
}

/* screen size breakpoints */
@media screen and (min-width: 600px) {
  
}

/* body font */
@font-face {
  font-family: 'basis33';
  src: url('./fonts/basis33/basis33-webfont.woff') format('woff'),
      url('./fonts/basis33/basis33-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* header font */
@font-face {
  font-family: 'extrude';
  src: url('./fonts/extrude/extrude-webfont.woff') format('woff'),
      url('./fonts/extrude/extrude-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}