:root{
  box-sizing: border-box;
  background-color: #fafafa;
  color: var(--dark-gray);

  --red : #f44;
  --red-lighter : #f66;

  --white: #fafafa;
  --dark-gray: #222;

  --primary: var(--red);
  --primary-lighter: var(--red-lighter);

  --canvas-size: 400px
}


#p5-container{
  height: fit-content;
  width: fit-content;

  width: var(--canvas-size);
  height: var(--canvas-size);
  
  padding: 0;
  margin: 0;
  display: flex;

  touch-action: none;
}
.App {

  min-height: 100vh;
  display: grid;

  grid-template-columns: var(--canvas-size);
  
  flex-direction: column;
  align-items: center;

  font-size: 16px;

  padding: 20px;
  font-family: 'basis33','Courier New', Courier, monospace;
}

.App-header{
  font-family: 'extrude','basis33','Courier New', Courier, monospace;
  font-size: 32px;
  color: var(--primary);
}

.no-select, .no-select *{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.editor-buttons{
  display: grid;
  
  --col-gap: 10px;
  --row-gap: 10px;

  grid-template-columns: auto auto auto;
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  justify-content: center;
  align-content: center;
}

button{
  --size: calc(32px + 2*var(--border));
  --radius: 2px;
  --border: 2px;
  --color: var(--primary);
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  border-radius: var(--radius);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--color);
}

.file-input label{
  display: flex;
  flex-direction: column;
}

.file-input input[type='file']{
  display: none;
}

#undo-button{background-image: url(./images/icons/undo-white.png);}
#redo-button{background-image: url(./images/icons/redo-white.png);}
#reset-view-button{background-image: url(./images/icons/reset-view-white.png);}


#emap-file-input button{background-image: url(./images/icons/file-open-e-white.png);}
#background-file-input button{background-image: url(./images/icons/file-open-p-white.png);}

#download-button{background-image: url(./images/icons/download-white.png);}

/* hover styling goes here */
@media (hover :hover) and (pointer: fine){
  button:hover{
    --color: var(--primary-lighter);
    cursor: pointer;
  }
}

/* screen size breakpoints */
@media screen and (min-width: 600px) {
  
}

/* body font */
@font-face {
  font-family: 'basis33';
  src: url('./fonts/basis33/basis33-webfont.woff') format('woff'),
      url('./fonts/basis33/basis33-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* header font */
@font-face {
  font-family: 'extrude';
  src: url('./fonts/extrude/extrude-webfont.woff') format('woff'),
      url('./fonts/extrude/extrude-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}